html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



body{
    min-width: 320px;  
    font-family: 'Roboto', sans-serif;
    text-align: center; 

}

.active{
    border-bottom: 2px solid rgb(15, 15, 58);
}



.header-container{
    text-align: center;
}
.main-heading{
    text-decoration: none;
    color: black;
}
.heading{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 570;
    display: inline-block;
    margin-left: 45px;
    margin-top: 25px;
}
.shopping-cart-image{
    width: 24px;
    height: 24px;
    display: inline-block;
    float: right;
    margin: 20px 15px;
}
.nav-items p{

    display: inline-block;
    margin: 1em;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 5px;
}

.home-screen-images{
    object-fit: cover;
    width:100%;
    height:320px;
    max-width: 100%;
}

.sub-heading{
    font-size: 18px;
    line-height: 1.5;
    margin: 5px;
}
.no-of-items{
    font-size: 12px;
    color: rgb(117, 117, 117);
}

.footer-container{

    text-align: center;
}

.footer-container a{

    text-decoration: none;
    font-size: 13px;
    color: #555555;
}

.demo-text{
    color: white;
    background-color: black;
    padding: 6px;
    width: 120px;
    margin: 8px auto 0 auto;
    line-height: 24px;
}

.item-container{
    display: grid;
    justify-content: center;
    /* grid-gap: 1px; */
    grid-template-columns: 1fr 1fr 1fr;
}
.items{
    padding: 5%;
}

.items img{
    object-fit: cover;
}

.items a{
    text-decoration: none;
}

.item-name{
    font-weight: 550;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 6%;
    color: black;
}

.item-price{
    text-decoration: none;
    color: #555555;
}

@media screen and (max-width: 1125px){
    .item-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 660px){
    .item-container{
        grid-template-columns: 1fr;
        justify-content: space-between;
        grid-gap: 1em;
    }
}
@media screen and (max-width: 768px){
    .home-screen-images{
        display: none;
    }
}