html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



body{
    min-width: 320px;  
    font-family: 'Roboto', sans-serif;
    text-align: center; 

}

.header-container{
    text-align: center;
}

.heading{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 570;
    display: inline-block;
    margin-left: 45px;
    margin-top: 25px;
}


.shopping-cart-image{
    width: 24px;
    height: 24px;
    display: inline-block;
    float: right;
    margin: 20px 15px;
}

.subheading{
    text-align: center;
  }
  
  .subheading h1{
    font-size: 16px;
  }
  
  .subheading p{
    font-size: 12px;
    color: rgb(117, 117, 117);
  }
  
  .data-form{
    display: flex;
    justify-content: center;
    padding: 0px 24px 48px 24px;
  }
  
  .item{
    /* border: 1px solid blue; */
    padding: 0px 20px;
    width: 23%;
    /* margin: 20px; */
    min-width: 400px;
    max-width: 400px;
    width: 100%;
    text-align: left;
    flex-shrink: unset;
  }
  
  
  .group{ 
    width: 100%;
    position:relative; 
    margin-bottom:30px; 
  }
  input{
    font-size:14px;
    padding-top: 10px;
    padding-bottom: 20px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
  }
  
  input:focus{ 
    outline:none; 
  }
  
  label{
    color:#999; 
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:1px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  input:focus ~ label, input:valid ~ label{
    top:-20px;
    font-size:14px;
    color: black;
  }
  
  .bar 	{ position:relative; display:block; width:100%; }

  .bar:before{
    content:'';
    height:2px; 
    width:0;
    bottom:1px solid #757575; 
    position:absolute;
    background: #757575; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px solid #757575; 
    position:absolute;
    background: black; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  .highlight {
    position:absolute;
    height:60%; 
    width:100%; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
    line-height: 1.5;
  }
  
 .form-headings{
    font-size: 13px;
    font-weight: 500;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

.footer-container{

    text-align: center;
}

.footer-container a{

    text-decoration: none;
    font-size: 13px;
    color: #555555;
}

.multi-item-form{
    /* display: inline; */
    width: 100%;
}

.small-group{
    display: inline-block;
    width: 49%;
}

.demo-text{
    color: white;
    background-color: black;
    padding: 6px;
    width: 120px;
    margin: 8px auto 0 auto;
    line-height: 24px;
}

.shop-select{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom:30px; 
}

.shop-select > [prefix]{
    position: absolute;
    line-height: 8px;
    color: black;
    pointer-events: none;
    top: calc(50%-8px);
}
.shop-select label{
    display: block;
    cursor: default;
    font-size: 13px;

}

#sizeLabel, #quantityLabel{
    color: black;
    /* padding-: 6%; */
}

.shop-select > select {
    width: 100%;
    font-size: 16px;
    padding: 30px 24px 16px 0px;
    color: #757575;
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    font-weight: 300;
    overflow: hidden;
    margin: 0;
    outline: none;

}

.sub-group{
    width: 100%;
    position:relative;
}

.sub-select{
    display: inline-block;
    width: 32%;
}

.shop-select > .shop-md-decorator {
    display: block;
    border-top: 1px solid #ccc;
    height: 1px;
}
.shop-select > .shop-md-decorator > .shop-underline {
    display: block;
    background-color: var(--app-accent-color);
    height: 2px;
    position: relative;
    top: -1px;
    width: 100%;
    margin: auto;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

.order-summary{
    font-size: 13px;
    margin-top: 15px;
}


.left{
    float: left;
}

.right{

    float: right;
}

.button{
    border: none;
    color: black;
    padding: 6px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.shop-button{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    /* margin: 32px; */
}

.sticky-button{
  background-color: #172C50;
  padding: 25px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sticky-button a{
  text-decoration: none;
  align-self: auto;
  font-size: 15px;
  color: white;
}

@media screen and (max-width:920px){
  .data-form{
    flex-direction: column;
    margin-top: 0px;
  }
  .item{
    min-width: 0px;
    max-width: 92%;
  }
  .footer-container{
      display: none;
  }
  .shop-button{
      visibility: hidden;
  }

}

@media screen and (min-width:920px){
  .sticky-button{
      visibility: hidden;
  }
  .container{
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .item{
    margin: 20px;
  }
  
} 