html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



body{
    min-width: 320px;  
    font-family: 'Roboto', sans-serif;
    text-align: center; 

}

.active{
    border-bottom: 2px solid rgb(15, 15, 58);
}



.header-container{
    text-align: center;
}

.heading{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 570;
    display: inline-block;
    margin-left: 45px;
    margin-top: 25px;
}
.shopping-cart-image{
    width: 24px;
    height: 24px;
    display: inline-block;
    float: right;
    margin: 20px 15px;
}
.back-image{
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
    margin: 20px 15px;

}
.nav-items p{
    display: inline-block;
    margin: 1em;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 5px;
}


.body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0px 0px 10% 0px;
}

.item{
    margin: 64px 32px;
}

.image{
    text-align: left;
    flex-shrink: 3;
    
}
.image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.detail-item{
    width: 40%;
    max-width: 400px;
    height: 100%;
    transition: opacity 0.4s;
}
h1{
    font-size: 24px;
    /* font-weight: 500; */
    line-height: 28px;
    margin: 0px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    
}

.price {
    margin: 16px 0 40px;
    font-size: 16px;
    color: grey;
}

.options-to-select{
    display: block;
    flex-direction: column;
    border-top: solid 1px #ccc;
}

.shop-select{
    display: inline-block;
    position: relative;
    width: 100%;
}

.shop-select > [prefix]{
    position: absolute;
    line-height: 8px;
    color: black;
    pointer-events: none;
    top: calc(50%-8px);
}
label{
    cursor: default;
    font-size: 13px;

}

.main-heading {
    text-decoration: none;
    color: black;
  }

#sizeLabel, #quantityLabel{
    color: grey;
    padding-top: 6%;
}

.shop-select > select {
    width: 100%;
    font-size: 16px;
    padding: 16px 24px 16px 70px;
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    font-weight: 300;
    overflow: hidden;
    margin: 0;
    outline: none;

}
.shop-select > .shop-md-decorator {
    display: block;
    border-top: 1px solid #ccc;
    height: 1px;
}
.shop-select > .shop-md-decorator > .shop-underline {
    display: block;
    background-color: var(--app-accent-color);
    height: 2px;
    position: relative;
    top: -1px;
    width: 100%;
    margin: auto;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

.description{
    margin: 32px 0;
    line-height: 1.5;
}
h2{
    display: block;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

.description > h2,#desc, .font-small{
    margin: 16px 0;
    font-size: 13px;
    color: grey;

}
h2{
    color: black;
}


.button{
    border: none;
    color: black;
    padding: 8px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: lighter;
}

.shop-button{
    background-color: white;
    color: black;
    border: 2px solid #555555;
}


ul{
    padding-left: 40px;
}


.footer-container{

    text-align: center;
}

.footer-container a{

    text-decoration: none;
    font-size: 13px;
    color: #555555;
}

.demo-text{
    color: white;
    background-color: black;
    padding: 6px;
    width: 120px;
    margin: 8px auto 0 auto;
    line-height: 24px;
}

.sticky-button{
    background-color: #172C50;
    padding: 25px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sticky-button a{
    text-decoration: none;
    align-self: auto;
    font-size: 15px;
    color: white;
}


@media screen and (max-width:768px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .detail-item{
        width: 100%;
        max-width: 80%;

    }
    
    
    .footer-container{
        display: none;
    }
    .shop-button{
        visibility: hidden;
    }

}

@media screen and (min-width:768px){
    .image{
        padding-right: 0px;
    }
    .detail-item{
        padding-left: 0px;
    }
    .sticky-button{
        visibility: hidden;
    }
    
} 